    header {
    background-color: #008252;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
}

    h1 {
    font-family: 'Times New Roman';
    margin: 0;
}

.stema {
    margin-right: 10px;
}

.stema img {
    width: 50px;
    height: auto;
    display: block;
}

h3 {
    font-family: 'Sitka';
}